.projectsWrapper{
  border-bottom: 1px solid #3242aa;
  padding: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.projectsContents{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.projectsTitle{
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  text-align: center;
  color: #3242aa;
  margin: 70px;
}
.projectsContent{
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #3242aa;
  font-size: 10px;
  padding: 7px;
  margin: 10px;
  border-radius: 4px;
}
.projectsImg{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 3px #3242aa;
}
.projectsGithub-name, .projectsName{
  text-align: center;
  padding-top: 5px;
}

.projectsSearch-link_div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectsSearch-link_div{
  text-align: center;
}
.projectsSearch-img{
  width: 20px !important;
  height: 20px !important;
  color: #3242aa !important;
}
@media (max-width: 768px) {
  .projectsContents{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 481px) {
  .projectsContents{
    grid-template-columns: 1fr;
  }
  .projectsTitle{
    font-size: 16px;
  }
}