.mainWrapper {
  @apply flex p-2;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 92vh;
  margin: 0 auto;
  border-bottom: 1px solid #3242aa;
  padding-top: 200px;
}
.mainIntro-flex {
  @apply flex flex-col font-semibold;
}
.mainIntro-greetings {
  font-family: "Permanent Marker", cursive;
  @apply text-[32px] pb-[16px] text-[#ccc];
}
.mainIntro-job {
  font-weight: 500;
  font-family: "Permanent Marker", cursive;
  @apply text-[18px] mt-[5%] text-[#3242aa];
}
.main2Btn-flex_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ccc;
}
.main2-btns {
  color: #ccc;
  border: 1px solid #3242aa;
  font-size: 12px;
  margin: 3px;
  padding: 4px 30px;
  border-radius: 4px;
  font-weight: 550;
}
.main2-btns:hover {
  color: #3242aa;
  border: 1px solid #ccc;
  margin-left: 9px;
  transition: all 4s;
}
#main2-btn{
  margin-top: -10px;
animation: main2-btn 3s infinite;
}
@keyframes main2-btn {
  0%{
    margin-top:0;
  } 
  100%{
    margin-top: 10px;
  } 
}
.mainAvatar-img {
  border-radius: 50%;
  margin-top: 0;
  box-shadow: 5px 4px 2px 4px #3242aa;
  animation: mainAvatar-img 5s infinite alternate;
}
@keyframes mainAvatar-img {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .mainIntro-greetings {
    font-size: 16px;
  }
  .mainIntro-job {
    font-size: 14px;
  }
  .mainAvatar-img{
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 480px) {
  .mainWrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 120vh;
    margin-top: -150px;
  }
  .mainIntro-flex {
    justify-content: center;
    align-items: center;
    @apply text-center;
    margin: 40px 0;
  }
  @keyframes mainAvatar-img {
    0% {
      margin-left: -50px;
    }
    100% {
      margin-left: 0;
    }
  }
  .main2Btn-flex_col {
    margin: 40px 0;
  }
}