
.mainContents {
  border-bottom: 1px solid #3242aa;
  height: 80vh;
  @apply flex p-2;
  align-items: center;
  justify-content: space-evenly;
}
.main2Btn-flex_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ccc;
}
.main2Btn-div{
  display: flex;
  align-items: center;
}
.main2Download-icon {
  color: #3242aa !important;
  margin-left: -50px;
  width: 35px !important;
  height: 35px !important;
  animation: download 5s infinite;
}
@keyframes download {
  0%{
    margin-top: -80px;
  }
  100%{
    margin-top: 0;
  }
}
.main2Whatsapp-icon {
  color: #3242aa !important;
  margin-left: -50px;
  width: 35px !important;
  height: 35px !important;
}
.main2-btns {
  color: #ccc;
  border: 1px solid #3242aa;
  background-color: #1c1c1c;
  font-size: 14px;
  margin: 5px 0;
  width: 200px;
  padding: 12px 10px;
  border-radius: 4px;
  font-weight: 550;
}
.main2-btns:hover {
  color: #3242aa;
  border: 1px solid #ccc;
  margin-left: 9px;
  transition: all 4s;
}
.mainAvatar-img {
  border-radius: 50%;
  margin-top: 0;
  box-shadow: 5px 4px 2px 4px #3242aa;
  animation: mainAvatar-img 5s infinite alternate;
}
@keyframes mainAvatar-img {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}
.main-flex_div{
  @apply flex justify-between items-start;
  margin-top: 60px;
}
.container {
  color: #e5e5e5;
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  line-height: 60px;
}
.hello {
  color: #3242aa !important;
  font-size: 23.4px;
  font-family: "Dancing Script", cursive;
  @apply text-[32px] pb-[16px] text-[#ccc];
}
.name1,
.name2 {
  font-size: 2.7rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  text-shadow: #3242aa 0px 4px 4px;
  font-family: "Yatra One", cursive;
  -webkit-text-stroke: 1px #3242aa;
  font-weight: 700;
}
.name2 {
  margin-bottom: 30px;
  margin-top: 10px;
}
.animation {
  height: 50px;
  overflow: hidden;
}
.animation > div > div {
  padding: 0.3rem;
  width: 200px;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
  text-align: left;
}
.animation div:first-child {
  animation: text-animation 8s infinite;
}
.second div {
  text-align: center;
  background-color: #3242aa;
  font-weight: 500;
  border-radius: 3px;
  @apply text-[16px] mt-[5%] text-[#ccc];
  background-color: #1c1c1c;
  color: #3242aa !important;
  margin-left: 10px;
}
.third div {
  text-align: center;
  border-radius: 3px;
  background-color: #1c1c1c;
  font-weight: 500;
  color: #3242aa !important;
  @apply text-[16px] mt-[5%] text-[#ccc];
}
@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .mainIntro-greetings {
    font-size: 16px;
  }
  .mainIntro-job {
    font-size: 14px;
  }
  .mainAvatar-img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 575px) {
  .mainContents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh
  }
  .container {
    margin: 70px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation > div > div {
    text-align: center;
  }
  @keyframes mainAvatar-img {
    0% {
      margin-left: -50px;
    }
    100% {
      margin-left: 0;
    }
  }
.name1,
.name2 {
  font-size: 2.1rem;
}
.main2-btns{
  margin-left: -0px;
}
  #main2-btn {
    margin-top: 5px;
    animation: none;
  }
}
.main2Btn-flex_col {
  margin: 40px 0;
}
@media (max-width: 480px) {
  .mainIntro-greetings {
    @apply text-[34px];
  }
  .mainIntro-job {
    font-weight: 500;
    font-family: "Permanent Marker", cursive;
    @apply text-[22px] mt-[5%] text-[#3242aa];
  }
}
