.skillsWrapper {
  padding: 0 2.5%;
  padding-top: 70px;
  border-bottom: 1px solid #3242aa;
  height: 80vh;
  min-height: fit-content;
}
.skillsContents {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.skillsTitle {
  font-size: 18px;
  color: #3242aa;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  padding-bottom: 100px;
  margin: 70px auto;
  background-color: #1c1c1c;
  border-radius: 4px;
  width: 180px;
  padding: 3px 4px;
}
.skillsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 2px 1px #3242aa;
  padding: 3px;
  animation: skills 0.3s;
  margin: 10px;
}
@keyframes skills {
  0%{
    opacity: 0;
  } 
  100%{
    opacity: 1;
  }
}
.skillsImg {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.skillsTool {
  font-size: 12px;
  font-family: "Permanent Marker", cursive;
  color: #ccc;
  animation: tools 0.7s
}
@keyframes tools {
  0%{
    margin-right: -50px;
  } 
  100%{
    margin-right: 0;
  }
}
@media (max-width: 768px) {
    .skillsWrapper{
        height: 90vh;
    }
    .skillsContents {
        grid-template-columns: repeat(5, 1fr);
      }
}
@media (max-width: 480px) {
    .skillsWrapper{
        height: 110vh;
    }
    .skillsContents {
        grid-template-columns: repeat(3, 1fr);
      }
}
@media (max-width: 300px) {
  .skillsWrapper{
      height: 110vh;
  }
  .skillsContents {
      grid-template-columns: repeat(2, 1fr);
    }
}