.aboutWrapper {
  padding: 0 20px;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @apply w-[100%] h-[100vh];
  border-bottom: 1px solid #3242aa;
  min-height: fit-content
}
.aboutTitle {
  font-family: "Permanent Marker", cursive;
  background-color: #ccc;
  padding-top: -50px;
  border-radius: 4px;
  width: 200px;
  margin: 20px auto;
  padding: 3px 4px;
  @apply text-[18px] text-center text-[#3242aa] font-semibold;
}
.aboutFlex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutImg{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 19px 20px #3242aa;
  @apply mx-auto;
}
.aboutDetails {
  line-height: 32px;
  padding: 20px 20px;
  margin-top: 40px;
  box-shadow: -2px 3px 7px #3242aa;
  @apply text-[#ccc] max-w-[65%] mx-auto rounded-2xl text-[16px] text-center;
}
@media (max-width: 768px) {
  .aboutWrapper {
    height: 150vh;
  }
  .aboutDetails {
    @apply max-w-[55%];
  }
}
@media (max-width: 600px) {
  .aboutWrapper{
    height: 170vh;
  }
  .aboutFlex{
    flex-direction: column;
  }
  .aboutImg{
    margin: 70px auto;
  }
  .aboutDetails {
    @apply max-w-[95%];
  }
}

@media (max-width: 480px) {
  .aboutWrapper {
    height: 190vh;
  }
}
@media (max-width: 375px) {
  .aboutWrapper {
    height: 220vh;
  }
}
@media (max-width: 320px) {
  .aboutWrapper {
    height: 250vh;
  }
}
