.headerWrapper {
  box-shadow: 1px 1px 2px 2px #3242aa;
  @apply px-[40px] sticky top-0 left-0 bg-[#111] h-[50px] w-[80%] mx-auto;
}
.headerFlex {
  @apply flex justify-between pt-2;
}
.headerLogo-div {
  display: flex;
  align-items: center;
}
.headerFlex-1 {
  @apply flex;
}
.headerLogo-img {
  @apply w-4 h-4 m-1;
  animation: headerLogo-img 2s linear infinite;
  border-radius: 50%;
}
@keyframes headerLogo-img {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.headerLogo {
  @apply text-[18px] font-semibold text-[#3242aa] mr-auto mt-2;
}
.headerTime{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  color: #ccc;
  font-size: 10px;
  position: absolute;
  right: 0;
  margin-top: 50px;
  background-color: #1c1c1c;
  padding: 4px 4px;
  border-radius: 2px;
  min-width: fit-content;
}
.headerTime span{
  margin-left: 5px ;
}
.headerMenu-icon {
  display: none !important;
  @apply w-10 h-10 text-[#555] cursor-pointer !important;
}
.menuContent {
  @apply flex text-[#f2f2f2]  mr-[-20px] mt-[-30px] h-[70px];
}
.cancel {
  display: none !important;
  @apply float-right w-7 h-7 text-[#ccc] cursor-pointer !important;
}
.menuContent-text {
  color: #ccc;
  @apply text-[30px] ml-1 mt-[35px] !important;
}
.menuContent-text:hover {
  transition: all 0.3s;
  color: #3242aa;
  @apply cursor-pointer !important;
}
.menuItems {
  @apply font-semibold text-[16px] !important;
}
@media (max-width: 768px) {
  .headerWrapper {
    @apply px-[20px] py-[10px];
  }
  .cancel {
    display: block !important;
  }
  .menuContent {
    display: none;
  }
  .menuContent-text {
    @apply border-b-[1px] border-white text-[12px] text-white rounded-[5px] mt-0 !important;
  }
  .headerMenu-icon {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .headerWrapper {
    @apply w-[100%];
  }
  .headerFlex {
    @apply flex justify-between pt-0;
  }
  .headerLogo {
    @apply text-[18px] font-semibold text-[#3242aa] mr-auto mt-[0];
  }
  .headerMenu-icon {
    @apply w-7 h-7 text-[#555] !important;
  }
}
