.headerWrapper {
  @apply px-[40px] py-[15px] sticky top-0 left-0 bg-[#3242aa] h-[100px];
}
.headerFlex {
  @apply flex justify-between pt-5;
}
.headerFlex-1 {
  @apply flex;
}
.headerLogo {
  @apply text-[24px] font-semibold text-[#f2f2f2] mr-auto;
}
.headerMenu-icon {
  display: none !important;
  @apply w-10 h-10 text-[#f2f2f2] cursor-pointer !important;
}
.menuContent {
  @apply flex text-[#f2f2f2]  mr-[-20px] mt-[-30px] h-[70px];
}
.cancel {
  display: none !important;
  @apply float-right w-10 h-10 text-[#f2f2f2] cursor-pointer !important ;
}
.menuContent-text {
  @apply text-[30px] ml-1 border-b-[1px] mt-[18px] !important;
}
.menuContent-text:hover {
  transition: all 0.3s;
  @apply cursor-pointer border-b-[3px] border-[#3242aa] !important;
}
.menuItems {
  @apply font-semibold text-[18px] border-blue-200 border-4 !important;
}
@media (max-width: 768px) {
  .headerWrapper {
    @apply px-[20px] py-[10px];
  }
  .cancel {
    display: block !important;
  }
  .menuContent{
    display: none;
  }
  .menuContent-text {
    @apply border-b-[1px] border-white text-[12px] text-white rounded-[5px] mt-0 !important;
  }
  .headerMenu-icon {
    display: block !important;
  }
}
