.footerWrapper {
  margin: 0 auto;
  @apply flex flex-col px-[20px] mt-[10%] justify-center items-center;
}
.footer-flex_div {
  @apply flex justify-between;
}
.footer-flex {
  @apply flex justify-between;
}
.footer-icons {
  width: 70px !important;
  height: 70px !important;
  background-color: #1c1c1c;
  @apply mx-4 cursor-pointer w-[40px] h-[40px] rounded-[50%] p-2;
}

.footer-copyright {
  color: #3242aa;
  @apply text-center mt-[40px];
}
@media (max-width: 400px) {
      .footer-icons {
        @apply w-[35px] h-[35px]
      }
}