@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 p-0 box-border bg-[#111];
}
body{
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  width: 15px; 
}

body::-webkit-scrollbar-track {
  background: #323232; 
}

body::-webkit-scrollbar-thumb {
  background-color: #3242aa; 
  border-radius: 20px; 
  border: 3px solid #323232; 
}
.titlesDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
  margin: 0 auto;
  padding: 3px 7px;
  min-width: fit-content;
  max-width: 300px;
}

